/* Colors */
:root{
    /* Reference */
    /* https://flatuicolors.com/palette/defo */



    /* White */
    --white-f1: #F1F1F1;

    /* Black */
    --black-rgba04: rgba(0, 0, 0, 0.5);
    --black-30: rgb(30, 30, 30);

    /* Blue */
    --petter-river: #3498db;
    --belize-hole: #2980b9;

    /* Green */
    --emerald: #2ecc71;
}


:root{
    /* Header */
    --header_width: calc(11vh + 2vw);

    /* logo */
    --headerLogo_fontSize: calc(3vh + 1vw);
}