#footer{
    display: flex;

    background-color: #fff;
    border-top: 1vh solid var(--black-30);

    padding: calc(3vh + .5vw) calc(1.5vh + .2vw);
}

/* Div */
#footer div{
    margin-right: calc(2vh + .5vw);
}

/* P */
#footer p{
    display: inline-block;

    font-size: calc(1.3vh + .5vw);
}
#footer p:nth-child(1){
    font-weight: bold;

    margin-right: 0.5vh;
}





/* Responsive */
/* 500 */
@media all and (max-width: 800px){
    #footer{
        display: block;
    }

    /* Div */
    #footer div{
        margin-bottom: 0.5vh;
    }#footer div:last-child{
        margin-bottom: 0;
    }

    /* P */
    #footer p:nth-child(1){
        margin-right: 0vh;
    }
    
}