#footer{
    display: flex;

    background-color: #fff;
    border-top: 1vh solid var(--black-30);

    padding: 4vh 2vh;
}

/* Div */
#footer div{
    margin-right: 3vh;
}

/* P */
#footer p{
    display: inline-block;

    font-size: 2.5vh;
}
#footer p:nth-child(1){
    font-weight: bold;

    margin-right: 0.5vh;
}