/* This var is found in the class.css */
#header{
    height: var(--header_width);
}
#header_container{
    width: 100%;
    height: var(--header_width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-bottom: 1vh solid var(--black-30);
    box-sizing: border-box;

    padding: 0 3vw;
    position: fixed;
    z-index: 99999;
    transition: height 0.25s;
}

/* #header_container_hr{
    width: 100%;
    height: 0.5vh;

    background: -webkit-linear-gradient(to right, #00d2ff, #3a7bd5);
    background: linear-gradient(to right, #00d2ff, #3a7bd5);

    position: absolute;
    bottom: 0;
    left: 0;
} */





/* Logo */
#header-logo h1{
    font-size: var(--headerLogo_fontSize);

    transition: font-size .3s;
}





/* Menu */
#header-menu{
    display: flex;
}

/* Link */
#header-menu a{
    font-size: calc(1.5vh + .5vw);
    color: black;
    text-transform: uppercase;

    margin-left: calc(2vh + 1vw);
}#header-menu a:hover{
    color: var(--belize-hole);
}





/* Responsive */
/* Hamburguer icon */
#header_hamburguer{
    display: none;
}

/* 1024 */
@media screen and (max-width: 1024px) {
    /* Menu */
    #header-menu{
        height: 100vh;

        display: none;
        text-align: center;

        background-color: var(--black-30);
        box-sizing: border-box;

        padding-top: 2vh;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(110%);
        transition: transform .3s;
    }
    #header-menu a {
        display: block;

        color: #fff;
        font-size: calc(1.5vh + .8vw);

        margin: 0;
        padding: 2.5vh calc(3vh + 3vw);
    }



    /* Hamburguer icon */
    #header_hamburguer{
        display: block;

        cursor: pointer;

        transition: transform .3s;
    }
    #header_hamburguer span{
        width: calc(3vh + 1vw);
        height: calc(.4vh + .1vw);

        display: block;
    
        background-color: var(--black-30);
        opacity: 1;
    
        margin-bottom: .7vh;
        transition: transform .25s, opacity .25s;
    }#header_hamburguer span:last-child{
        margin-bottom: 0;
    }
    /* Animation - click */
    .hamburguerAnimate#header_hamburguer span:nth-child(1){
        transform: rotate(45deg) translateY(8px);
    }
    .hamburguerAnimate#header_hamburguer span:nth-child(2){
        opacity: 0;
    }
    .hamburguerAnimate span:nth-child(3){
        transform: rotate(-45deg) translateY(-8px);
    }
}

/* 800 */
@media screen and (max-width: 800px){
    :root{
    }

    #header-logo h1{
    } 
}


