/* This var is found in the class.css */
#header{
    height: var(--header_width);
}
#header_container{
    width: 100%;
    height: var(--header_width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-bottom: 2px solid var(--belize-hole);
    box-sizing: border-box;

    padding: 0 5vh;
    position: fixed;
    z-index: 99999;
    transition: height 0.25s;
}





/* Logo */
/* #header-logo{
} */
#header-logo h1{
    font-size: 5vh;
}





/* Menu */
#header-menu{
    display: flex;
}

/* Link */
#header-menu a{
    color: black;
    text-transform: uppercase;

    margin-left: 8vh;
}#header-menu a:hover{
    color: var(--belize-hole);
}