#about{
    background-color: var(--white-f1);
}





/* Content */
#about-content{
    width: 60%;

    margin: 0 auto;
    padding: calc(7vh + 1vw) 0;
}

/* H3 */
#about-content-title{
    text-align: center;

    font-size: calc(3vh + 1vw);

    margin-bottom: calc(2.5vh + .8vw);
}

/* P */
.about-content-text{
    line-height: calc(2.5vh + 1vw);

    font-size: calc(2vh + .5vw);
}