#contact{
    text-align: center;

    background: -webkit-linear-gradient(to right, #00e1ff, #0b7fdd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00e1ff, #0b7fdd);
}





/* H3 */
#contact .section-title{
    background-color: var(--black-30);
}
#contact .section-title h3{
    color: #fff;
}





/* Content */
#contact-content{
    width: auto;
    display: inline-block;
    text-align: left;

    margin: 0 auto;
    padding: 10vh 0;
}

/* Info */
.contact-content-info{
    display: inline-block;

    margin-bottom: 4vh;
}.contact-content-info:last-child{
    margin-bottom: 0;
}

/* H3 and H6 */
.contact-content-info h3,
.contact-content-info h6{
    margin-bottom: 0.5vh;
}
/* H3 */
.contact-content-info h3{
    font-size: 4vh;
}
/* H6 */
.contact-content-info h6,
.contact-content-info p{
    font-size: 2.8vh;
}





/* Social network */
#contact-socialNetworks{
    text-align: center;

    background-color: var(--black-30);
    border-radius: 1vh;
    box-sizing: border-box;

    padding: 2vh 0vh;
}
#contact-socialNetworks img{
    height: 5vh;

    margin: 0 3vh;
    transition: transform 0.25s;
}#contact-socialNetworks img:hover{
    transform: scale(1.5)
}





/* Responsive */
/* 400 */
@media screen and (max-width: 400px) {
    /* H3 */
    .contact-content-info h3{
        font-size: 3.5vh;
    }
}