/* Content */

/* Div */
.formations-content-formation{
    height: auto;
    border: 1px solid red;

    display: flex;
    align-items: center;
    
    padding: 0 calc(1vh + .2vw);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}.formations-content-formation:last-child{
    margin-bottom: 0;
}

/* Left */
.formations-content-formation-left{
    flex: 1;

    text-align: right;
}

/* HR */
.formations-content-formation-hr{
    width: 0.5vh;
    height: 200%;

    background-color: var(--black-30);
    opacity: 0;

    margin: 0 calc(3vh + .5vw);
}

/* Span || ball */
.formations-content-formation-ball{
    width: 3vh;
    height: 2.9vh;

    background-color: var(--petter-river);
    border-radius: 50%;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

/* Right */
.formations-content-formation-right{
    flex: 1;
}

/* Left and right */
.formations-content-formation p{
    font-size: calc(1.8vh + .5vw);
}
.formations-content-formation-left p:first-child,
.formations-content-formation-right p:first-child{
    font-weight: bold;

    margin-bottom: 0.5vh;
}





/* Responsive */
/* 800 */
@media screen and (max-width: 800px) {
    /* Min height: 1024 */
    @media screen and (min-height: 1024px){
        .formations-content-formation{
            min-height: 25vh;
        }
    }
}

/* 480 */
@media screen and (max-width: 480px){
    /* Min height: 800 */
    /* @media screen and (min-height: 800px){
        .formations-content-formation{
            min-height: 35vh;
        }
    } */
}

/* 450 */
@media screen and (max-width: 450px){
    /* Min height: 800 */
    /* @media screen and (min-height: 700px){
        .formations-content-formation{
            min-height: 35vh;
        }
    } */
}

/* 360 */
@media screen and (max-width: 360px){
    /* Min height: 640 */
    /* @media screen and (min-height: 640px){
        .formations-content-formation{
            min-height: 35vh;
        }
    } */
}