#formations{
}





#formations .section-title{
    /* color: #fff;
    background-color: var(--black-30); */
}





/* Content */

/* Div */
.formations-content-formation{
    min-height: 20vh;

    display: flex;
    align-items: center;
    
    padding: 0 2vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}.formations-content-formation:last-child{
    margin-bottom: 0;
}

/* Left */
.formations-content-formation-left{
    flex: 1;

    text-align: right;
}

/* HR */
.formations-content-formation-hr{
    width: 0.5vh;
    height: 200%;

    background-color: var(--black-30);
    opacity: 0;

    margin: 0 5vh;
}

/* Span || ball */
.formations-content-formation-ball{
    width: 3vh;
    height: 2.9vh;

    background-color: var(--petter-river);
    border-radius: 50%;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

/* Right */
.formations-content-formation-right{
    flex: 1;
}

/* Left and right */
.formations-content-formation p{
    font-size: 2.8vh;
}
.formations-content-formation-left p:first-child,
.formations-content-formation-right p:first-child{
    font-weight: bold;

    margin-bottom: 0.5vh;
}





/* Responsive */
/* 600 */
@media (max-width: 600px){
    /* Height: 1024 */
    @media (max-height: 1024px){

    }
}