#personalInfo{

    background-image: url("../../images/main/personalInfo/background.png");
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20vh 0;
}





/* Card */
/* Variable */
:root{
    --personalInfo-card_width: 70%;
}
#personalInfo-card{
    width: var(--personalInfo-card_width);
    height: auto;

    display: flex;

    background-color: #fff;

    margin: 0 auto;
}


/* Image */
#personalInfo-card-image{
    flex: 1;
}
#personalInfo-card-image img{
    width: 100%;
    height: 100%;
}


/* Info */
#personaInfor-card-info{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6vh 1vh;
}

/* Div - titleText */
.personaInfor-card-info-titleText{
    margin-bottom: 5vh;
}.personaInfor-card-info-titleText:last-child{
    margin-bottom: 0;
}
/* H3 and H6 */
.personaInfor-card-info-titleText h3,
.personaInfor-card-info-titleText h6{
    margin-bottom: 0.5vh;
}
.personaInfor-card-info-titleText h6{
    font-size: 2.2vh;
}
/* P */
.personaInfor-card-info-titleText p{
    font-size: 2.2vh;
}
.personaInfor-card-info-titleText:nth-child(2) p:nth-child(2){
    margin-bottom: 0.5vh;
}





/* Social networks */
#personalInfo-socialNetworks{
    width: var(--personalInfo-card_width);

    text-align: center;

    background-color: var(--black-30);
    box-sizing: border-box;

    margin: 0 auto;
    padding: 4vh 2vh;
}

/* Image */
#personalInfo-socialNetworks img{
    height: 5vh;

    margin: 0 3vh;
}