#personalInfo{
    background-image: url("../../images/main/personalInfo/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    padding: 20vh 0;
}#personalInfo::after{
    content: '';

    width: 100%;
    height: 100%;

    background-color: var(--black-rgba04);
    
    position: absolute;
    top: 0;
    left: 0;
}





/* Card */
/* Variable */
:root{
    --personalInfo-card_width: 70%;
}
#personalInfo-card{
    width: var(--personalInfo-card_width);
    height: 80vh;

    display: flex;
    align-items: center;

    background-color: #fff;

    margin: 0 auto;
    position: relative;
    z-index: 9;
}


/* Image */
#personalInfo-card-image{
    flex: 1;
    height: 100%;
}
#personalInfo-card-image img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* Info */
#personaInfor-card-info{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6vh 1vh;
}

/* Div - titleText */
.personaInfor-card-info-titleText{
    margin-bottom: 5vh;
}.personaInfor-card-info-titleText:last-child{
    margin-bottom: 0;
}
/* H3 and H6 */
.personaInfor-card-info-titleText h3,
.personaInfor-card-info-titleText h6{
    margin-bottom: 0.5vh;
}
/* H3 */
.personaInfor-card-info-titleText h3{
    font-size: 4vh;
}
/* H6 */
.personaInfor-card-info-titleText h6{
    font-size: 2.5vh;
    text-transform: uppercase;
}
/* P */
.personaInfor-card-info-titleText p{
    font-size: 2.5vh;
}
.personaInfor-card-info-titleText:nth-child(2) p:nth-child(2){
    margin-bottom: 0.5vh;
}





/* Social networks */
#personalInfo-socialNetworks{
    width: var(--personalInfo-card_width);

    background: -webkit-linear-gradient(to right, #00e1ff, #0b7fdd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00e1ff, #0b7fdd);
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    opacity: 0;

    margin: 0 auto;
    padding-bottom: 5px;
    position: relative;
    z-index: 5;
}

#personalInfo-socialNetworks-content{
    width: 100%;

    text-align: center;

    background-color: var(--black-30);
    opacity: 0;
    box-sizing: border-box;

    padding: 4vh 2vh;
    position: relative;
    z-index: 9;
}

/* Image */
#personalInfo-socialNetworks img{
    height: 5vh;

    margin: 0 3vh;
    transition: transform 0.25s;
}#personalInfo-socialNetworks img:hover{
    transform: scale(1.5)
}