#skills{
    background-color: var(--emerald);
    border-bottom: 0.5vh solid var(--black-30);
}






/* H3 */
#skills .section-title{
    background-color: var(--black-30);
}
#skills .section-title h3{
    color: #fff;
}





/* Content */
#skills-content{
    width: 70%;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 5vh 0;
}

/* Row */
.skills-content-row{
    display: flex;
    flex-direction: column;
}

/* Div */
.skills-content-skill{
    display: flex;

    background-color: var(--black-30);
    /* border: 2px solid var(--black-30); */

    margin: 2vh 0;
}
.skills-content-skill div{
    display: flex;
    align-items: center;
}

/* Title */
.skills-content-row-title{
    font-size: 3vh;
}

/* Image */
.skills-content-skill-image{
    height: 5vh;

    background-color: var(--black-30);

    padding: 2vh 0;
    padding-left: 3vh;
    margin-right: 2vh;
}
.skills-content-skill-image img{
    height: 100%;
}

/* Text */
.skills-content-skill-text{
    height: 5vh;

    padding: 2vh 0vh;
    padding-right: 2vh;
}
.skills-content-skill-text p{
    color: #fff;
    font-size: 2.5vh;
}




/* .skills-content-skill-css{
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); 
    background: linear-gradient(to right, #00b4db, #0083b0); 
}

.skills-content-skill-js{
    background: -webkit-linear-gradient(to right, #e0dd16, #fffc00); 
    background: linear-gradient(to right, #fffc00, #ffee00); 
}.skills-content-skill-js p {
    color: var(--black-30);
}

.skills-content-skill-php{
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); 
    background: linear-gradient(to right, #00c6ff, #0072ff); 
}

.skills-content-skill-python{
    background: -webkit-linear-gradient(to right, #00c6ff, #fffc00); 
    background: linear-gradient(to right, #00c6ff, #fffc00); 
} */





/* 1024 */
@media screen and (max-width: 1024px){
    /* Content */
    #skills-content{
        width: 90%;

        flex-direction: column;
    }

    /* Row */
    .skills-content-row{
        margin-bottom: 6vh;
    }.skills-content-row:last-child{
        margin-bottom: 0;
    }
}