#skills{
    background-color: var(--emerald);
    border-bottom: 0.5vh solid var(--black-30);
}






/* H3 */
#skills .section-title{
    background-color: var(--black-30);
}
#skills .section-title h3{
    color: #fff;
}





/* Content */
#skills-content{
    width: 90%;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: calc(4.5vh + 1vw) 0;
}

/* Row */
.skills-content-row{
    display: flex;
    flex-direction: column;
}

/* Div */
.skills-content-skill{
    display: flex;

    background-color: var(--black-30);
    /* border: 2px solid var(--black-30); */

    margin: 2vh 0;
}
.skills-content-skill div{
    display: flex;
    align-items: center;

    padding: calc(1vh + .5vw) calc(1.8vh + .5vw);
}

/* Title */
.skills-content-row-title{
    font-size: calc(2.2vh + .5vw);
}

/* Image */
.skills-content-skill-image{
    height: calc(4vh + 1vw);

    background-color: var(--black-30);
}
.skills-content-skill-image img{
    height: 100%;
}

/* Text */
.skills-content-skill-text p{
    color: #fff;
    font-size: calc(1.6vh + .5vw);
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px){
    /* Content */
    #skills-content{
        width: 40%;

        flex-direction: column;
    }

    /* Row */
    .skills-content-row{
        margin-bottom: calc(5.2vh + 1vw);
    }.skills-content-row:last-child{
        margin-bottom: 0;
    }
}

/* 850 */
@media screen and (max-width: 850px){
    /* Content */
    #skills-content{
        width: 70%;
    }
}

/* 600 */
@media screen and (max-width: 600px){
    /* Content */
    #skills-content{
        width: 75%;
    }
}

/* 450 */
@media screen and (max-width: 450px){
    /* Content */
    #skills-content{
        width: 85%;
    }
}